# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.mo
*.db
*.sqlite3

# Media and static files
/media/
staticfiles/
static_root/
media_root/

# Local environment files
.env
.env.*

# VS Code, PyCharm, etc.
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# MacOS
.DS_Store

# Python virtual environments
venv/
.venv/
