{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Nova Marca{% endblock %}

{% block content %}
  <div class="card shadow-sm p-4 mx-auto" style="max-width: 500px;">
    <h4 class="mb-4 text-center">Cadastrar Nova Marca</h4>
    <form method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <div class="d-flex justify-content-between mt-4">
        <a href="{% url 'core:product_list' %}" class="btn btn-secondary">Voltar</a>
        <button type="submit" class="btn btn-primary">Salvar</button>
      </div>
    </form>
  </div>
{% endblock %}
